<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>New User Registered and Added to Database</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/fonts/typicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/">Nick's Page</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="https://rapidapi.com/community/api/open-weather-map">
                            <div>
                                <div class="col" style="font-size: 16px;height: 65px;">
                                    <div class="row" style="height: 16px;">
                                        <div class="col">
                                            <p style="font-size: 12px;">Quick weather facts! (Albany NY)</p>
                                        </div>
                                    </div>
                                    <div class="row" style="height: 16px;">
                                        <div class="col">
                                            <p style="font-size: 11px;" th:text="'Temperature:  ' + ${temp} + '°F'"></p>
                                        </div>
                                    </div>
                                    <div class="row" style="height: 16px;">
                                        <div class="col">
                                            <p style="font-size: 11px;" th:text="'Wind speed:  ' + ${wind} + ' mph'"></p>
                                        </div>
                                    </div>
                                    <div class="row" style="height: 16px;">
                                        <div class="col">
                                            <p style="font-size: 11px;" th:text="'Description:  ' + ${description}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a href="https://rapidapi.com/community/api/open-weather-map">
                            <img th:src="${icon}" style="width: 60px;height: 60px;" />
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="login">Log In</a></li>
                    <li class="nav-item"><a class="nav-link" href="register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="artworks">Art</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="page">
        <section class="clean-block clean-hero" style="color: rgba(169,9,255,0.70);background: url(&quot;/img/success.jpg&quot;) no-repeat;background-size: 100% 100%;">
            <div class="text">
                <h2>New user was successfully registered!</h2>
                <p>Your profile information is now contained within the MySQL database.</p><button class="btn btn-outline-light btn-lg" onclick="location.href='/'" type="button" >Back</button>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col text">
                        <p style="color: rgb(255,255,255);">Image:</p>
                    </div>
                    <div class="col text">
                        <p style="color: rgb(255,255,255);">pic</p><img th:src="${imgSrc}" style="width: 100px;height: 100px;" /></div>
                </div>
                <div class="row">
                    <div class="col text">
                        <p style="color: rgb(255,255,255);">Image URL:</p>
                    </div>
                    <div class="col text">
                        <p style="color: rgb(255,255,255);">www.pic.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text">
                        <p style="color: rgb(255,255,255);">Full Name:</p>
                    </div>
                    <div class="col text">
                        <p style="color: rgb(255,255,255);">John Smith</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text">
                        <p style="color: rgb(255,255,255);">Username:</p>
                    </div>
                    <div class="col text">
                        <p style="color: rgb(255,255,255);">jsmithredsox</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text">
                        <p style="color: rgb(255,255,255);">Biography:</p>
                    </div>
                    <div class="col text">
                        <p style="color: rgb(255,255,255);">thu a o o uteh tuhe th oethutaoehuoeth uthuthutu tehuthetuhetuhet  ehhe o o o o uhethue toh ute uteo tuoe tuoeu oe utoe utoeuttoe  ehto hte</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>
